body,
html {
	background: url('./brown-wooden-flooring.jpg');
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	position: relative;
	height: auto;
	color: rgb(19, 19, 19);
	font-family: 'Josefin Sans', serif;
	font-size: 13pt;
}

#parchment {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	right: 1.5rem;
	bottom: 1.5rem;
	box-shadow: 2px 3px 20px rgb(0, 0, 0), 0 0 60px #8a4d0f inset;
	background: url('./paper_background.jpg');
	z-index: 0;
}

.title-container {
	background-image: url('./title_image.jpeg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	z-index: 1;
	
}

.first-section {
	padding-top: 4rem;
}
@media screen and (max-width: 1024px) {
	.first-section {
		padding-top: 0rem;
	}
}

.title-title {
	position: absolute;
	top: 530px;
	left: 100px;
	color: #FFF
}
@media screen and (max-width: 1024px) {
	.title-title {
		position: absolute;
		top: 300px;
		left: 100px;
		color: #FFF
	}
}


.pirate-title {
	font-family: 'Pirata One', cursive;
	font-size: 4rem;
	text-align: center;
}

.download-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-gap: 1rem;
	grid-template-areas: "title title" "image text";
}

@media screen and (max-width: 1024px) {
	.download-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "title" "image" "text";
		padding: 2rem;
	}

}

.download-title {
	grid-area: title;
}

.download-image {
	grid-area: image;
	padding: 1rem;
	padding-top: 0;
}

.download-image > img {
	border-radius: 8px;
}

.download-text {
	grid-area: text;
}

.explication-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-gap: 1rem;
	grid-template-areas: "title title" "image text";
}

@media screen and (max-width: 1024px) {
	.explication-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "title" "text" "image";
		padding: 2rem;
	}

}

.explication-title {
	grid-area: title;
}

.explication-image {
	grid-area: image;
	padding: 1rem;
}

.explication-text {
	grid-area: text;
}

.download-link-container {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.download-button {
	width: 200px;
	font-weight: bold;
}

.faq-questions-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
	.faq-questions-container {
		grid-template-columns: 1fr;
		padding: 2rem;
	}
}

.video-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}